<div class="article_card blue-hover">
    <img src="{{photo}}" alt="{{name}}" class="articles_photo">
    <h3 id="{{id}}" class="articles_name">{{name}}</h3>
    <p class="articles_description">{{description}}</p>
    <button form="{{id}}" class="article_btn btn">Read All</button>
</div>