{{#with data}}

<div class="featured_card">
    <img src="{{photo}}" alt="Featured icon" class="featured_icon">
    <h2 class="featured_title">{{heading}}</h2>
    <p class="featured_text">{{info}}</p>
    <a href="{{linkUrl}}" class="featured_link">{{linkText}}</a>
</div>

{{/with}}